.header {
    align-items: center;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    padding: 24px;
  }
  a.header-link {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
  }
  